/* CSS Reset compliments of the Meyer family. */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }

/* remember to define focus styles! */
:focus {outline: 1px solid #666; }

/* remember to highlight inserts somehow! */
ins {text-decoration: none; }
del {text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;	border-spacing: 0; }



/* Stylez */
html, body {height: 100%; }
html {background: url('img/bg-body.png') repeat-x left top fixed; }
body {width: 1372px; margin: 0 auto; color: #fff; }
body::-webkit-scrollbar {width: 0; height: 0;}

@font-face {font-family: PUSAB; src: url('fonts/PUSAB___.otf'); }

.loading { background-image: url(loading.gif); background-repeat: no-repeat; background-position: center center; }

div#wrapper-wrapper {width: 1372px; padding: 32px 0 86px 0; background: url('img/bubble-tail.png') no-repeat 420px bottom; position: relative; }
div#wrapper {background: #fff; max-width: 980px; height: 300px; margin: 0 auto; padding: 20px; border-radius: 20px; color: #000; font-family: PUSAB, sans-serif; text-align: center; }
div#wrapper-qfresh {}

div#avatar {position: absolute; bottom: -20px; left: 314px; }

div#info {text-align: center; font-family: Helvetica, sans-serif; color: #789; position: absolute; bottom: 116px; left: 50%; }
div#info div#avatar img {}
div#info div#username {display: inline-block; }
div#info div#source {display: inline-block; }

div#content {font-family: PUSAB, sans-serif; font-size: 3em; }
div#content.twitter {font-size: 3em; }
div#content.facebook {font-size: 2em; }
div#content.flickr {font-size: 1.2em; }
div#content.flickr img {}
div#content.flickr .caption {display: block; padding: 12px 100px; font-size: 1.3em; }

div#details {width: 1372px; min-height: 585px; margin-top: -64px; background: url('img/bg-cityman.png') no-repeat center bottom; }

div#history {float: left; width: 300px; height: 372px; margin: 0 0 0 440px; padding: 0; position: relative; top: 100px; overflow: hidden; }
div#history a.history {display: block; margin: 0 0 8px 0; border: 0; padding: .5em; background: rgba(0,0,0,0.7); border-radius: 5px; font-family: Helvetica, sans-serif; text-decoration: none; color: #fff; }
div#history a.history:hover {background: rgba(0,0,0,1); }
div#history a.history span {position: relative; top: -18px; left: 12px; }
div#history a img {position: relative; top: 1px; }

div#event {margin: 0 0 0 800px; padding: 0 0 0 45px; border-left: 2px dotted #fff; position: relative; top: 100px; }
